<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="left-sidenav" position="start">
     <h1> <i class="material-icons">menu</i> Menu </h1>
    <a [routerLink]="['/portal-home/portal-glowna']"><i class="material-icons">home</i><span class="text">Strona główna</span></a>
    <a [routerLink]="['/portal-home/portal-rezerwacja']"><i class="material-icons">add_box</i><span class="text">Dodaj rezerwację</span></a>
      <a [routerLink]="['/portal-home/portal-archiwum']"><i class="material-icons">history</i><span class="text">Moje  rezerwacje</span></a>
      <a [routerLink]="['/portal-home/portal-ustawienia']"><i class="material-icons">settings</i><span class="text">Mój profil</span></a>
      <a [routerLink]="['/login']" (click)="logout()"><i class="material-icons">exit_to_app</i><span class="text">Wyloguj się</span></a>
    </mat-sidenav>
  <mat-sidenav-content>
      <div class="container">
        <h2><img src="../../assets/img/logotyp.png">Internetowy portal pacjenta</h2>
          <div class="jumbotron">
            <i class="material-icons">account_circle</i> <b> Zalogowany użytkownik:  {{username}}</b>
          </div>
      </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

