<section id="uslugi" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="schedule-tab">
        <div class="col-md-4 col-sm-4 bor-left">
          <div class="mt-boxy-color"></div>
          <div class="medi-info">
            <h3>Badania profilaktyczne pracowników</h3>
            <p>W ramach badań profilaktycznych świadczymy kompleksowo usługi niezbędne do wykonania na podstawie skierowania wystawionego przez pracodawcę.
            Badania są wykonywane dla wszystkich pracowników po podpisaniu umowy na opiekę zdrowotną z zakładem pracy. Na miejscu w budynku znajdują się wyposażone 
            w specjalistyczny sprzęt gabinety lekarskie: lekarza medycyny pracy - zapewniamy 2,3 lekarzy w ciągu jednego dnia, okulisty, neurologa, laryngologa. 
            Posiadamy również pracownię ekg spoczynkowego, ekg wysiłkowego oraz pracownię spirometrii. W budynku mieści się również punkt pobrań DIAGNOSTYKA Sp. z o.o.,
            który świadczy usługi na rzecz naszych pacjentów. Pracownia badań psychotechnicznych zapewnia najlepszą jakość wykonywanych badań m.in. kierowców, operatorów i innych.
            </p> 
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="medi-info">
              <h3>Badania kierowców zawodowych i amatorów</h3>
              <p>Kierowcy to dość szczególna grupa osób, która wymaga specjalistycznych badań z uwagi na wykonywaną pracę. Nie każdy lekarz uprawniony do przeprowadzania badań
                profilaktycznych może badać kierowców. Wymagane są specjalne uprawnienia, a nasi lekarze je posiadają. Badamy kierowców amatorów kat. A,A1,AM,B,B1,BE, oraz kierowców zawodowych kat. C,CE, D,DE.
                Przeprowadzamy zarówno badania wstępne przed rozpoczęciem kursu, jak również badania do świadectwa kwalifikacji oraz przedłużenia prawa jazdy. Wykonujemy badania 
                kierowców samochodów uprzywilejowanych wszystkich kategorii, badania kierowców taksówki, instruktorów i egzaminatorów nauki jazdy. 
               </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
              <div class="medi-info">
                <h3>Badania sędziów, prokuratorów, komorników....</h3>
                <p>Przeprowadzamy również kompleksowe badania kwalifikowanych pracowników ochrony, osób ubiegających się lub posiadających pozwolenie na broń,
                  osób pracujących przy obrocie lub wytwarzaniu materiałów wybuchowych, badania detektywów. Współpracujemy z psychologiem i psychiatrą posiadającymi
                  odpowiednie uprawnienia do wykonywania tego rodzaju badań. Badania wymagające konsultacji psychiatry są wykonywane w każdy czwartek,
                  po wcześniejszym ustaleniu terminu.
                 </p>
              </div>
            </div>
      </div>
    </div>
  </div>
</section>