<section id="service" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h2 class="ser-title">O nas </h2>
          <hr class="botm-line">
          <p>Firma istnieje na rynku usług medycznych od 1997 roku. Główną działalnością placówki są podstawowa i specjalistyczna opieka
             medyczna,pracownia diagnostyczna specjalizująca się w badaniach usg,stomatologia i medycyna pracy.Pracownia usg posiada Akredytację Polskiego Towarzystwa Ultrasonograficznego.
            Placówka jest wpisana do rejestru niepublicznych zakładów opieki zdrowotnej pod numerem 000000013066, oraz do rejestru podstawowych jednostek służby medycyny pracy.
           </p>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-home"></i>
            </div>
            <div class="icon-info">
              <h4>Strona główna</h4>
              <p> Szczegółowe informacje o wszystkich świadczonych usługach znajdziesz na głównej stronie przychodni.<br />
                  Wizyty realizowane są komercyjnie lub w ramach ubezpieczeń prywatnych. </p>
              <a onclick="location.href='https://www.ultramedic.com.pl'; return false;" class="btn btn-success" role="button">Przejdź do strony</a>
            </div>
          </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-stethoscope"></i>
            </div>
          </div>
            <div class="icon-info">
              <h4>Podstawowa opieka</h4>
              <p> W ramach podstawowej opieki medycznej zapewniamy codzienny dostęp do internisty. <br />
                Wizyty realizowane są komercyjnie lub w ramach ubezpieczeń prywatnych.</p>
        </div>
        <div class="icon-info">
        </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-user-md"></i>
            <div class="icon-info">
              <h4>Konsultacje specjalistyczne</h4>
              <p>Placówka oferuje szeroki wachlarz usług dla dzieci i dorosłych! W ramach poradni specjalistycznych
                zapewniamy dostęp m.in. do poradni kardiologicznej, hematologicznej, lekarza chorób zakaźnych, neurologicznej, neurochirurgicznej  i wielu innych...<br />
                Zapoznaj się z wszystkimi dostępnymi usługami.</p>
            </div>
            </div>
          </div>
        </div>
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-medkit"></i>
            </div>
            <div class="icon-info">
              <h4>Medycyna Pracy</h4>
              <p> W ramach poradni medycyny pracy wykonujemy badania profilaktyczne pracowników, zawieramy umowy z zakładami pracy,organizujemy komisje BHP,
                  sprawujemy opiekę profilaktyczną nad zakładami pracy.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ service-->
  <!--cta-->
  <section id="cta-1" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="schedule-tab">
          <div class="col-md-4 col-sm-4 bor-left">
            <div class="mt-boxy-color"></div>
            <div class="medi-info">
              <h3>Czym się zajmujemy?</h3>
              <p>Służba medycyny pracy powstała, żeby chronić zdrowie pracujących przed niekorzystnymi warunkami związanymi ze środowiskiem pracy
               i sposobem jej wykonywania, oraz aby sprawować profilaktyczna opiekę zdrowotna nad pracującymi.Systematyczna kontrola zdrowia zatrudnionych pozwala na ocenę stanu ich zdrowia, a także wykrycie szkodliwych czynników, które wynikają z warunków pracy.
                W ramach kontroli lekarz informuje badane osoby, jak dbać o zdrowie i zapobiegać niekorzystnym zmianom zdrowotnym.
                Służba medycyny pracy zabiega również o to, aby pracodawcy poprawiali warunki pracy, ograniczając w ten sposób ryzyko zawodowe.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="medi-info">
              <h3>Współpraca</h3>
              <p> Każdy pracodawca powinien mieć umowę z jednostką służby medycyny pracy, która będzie przeprowadzać badania profilaktyczne, zgodnie z warunkami środowiska pracy
                  wykazanymi przez pracodawcę na skierowaniu. Zawarcie umowy jest bardzo proste wystarczy wysłać wiadomość na adres medycynapracy@ultramedic.com.pl z prośbą o przedstawienie oferty, wpisując w treści ilość zatrudnianych pracowników,
                  stanowiska pracy i zagrożenia bądź uciążliwości na nich występujące. W ciągu kilku dni oferta i wzór umowy zostaną przygotowane i odesłane zwrotnie. </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 mt-boxy-3">
            <div class="mt-boxy-color"></div>
            <div class="time-info">
              <h3>Godziny pracy i rejestracja</h3>
              <table style="margin: 8px 0px 0px;" border="1">
                <tbody>
                  <tr>
                    <td>Poniedziałek - Piątek</td>
                    <td>7.00 - 11.00</td>
                  </tr>
                  <tr>
                    <td>Rejestracja telefoniczna</td>
                    <td>12.00 - 15.00 <br /> pod nr tel. 33 8165268;<br /> 664 062 446</td>
                  </tr>
                  <tr>
                    <td>Rejestracja online</td>
                    <td> Zaloguj się do panelu pacjenta lub jeżeli jeszcze nie posiadasz konta utwórz nowy profil.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>