<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true" data-keybord="false" data-backdrop="static" xmlns="http://www.w3.org/1999/html">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Polityka prywatności</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body">

        <h4>§1 </h4><br>
        <br>

        Niniejsza Polityka Prywatności zawiera informacje dotyczące zasad przetwarzania i ochrony danych osobowych podmiotów korzystających z serwisu (zwanymi dalej: „Użytkownikami”) będącego własnością NZOZ Ultramedic Centrum Medyczne Sp. z o.o., znajdującego się pod adresem www.ultramedic.com.pl (zwanym dalej „Serwisem”) oraz politykę plików cookies.
        Administratorem danych osobowych przekazanych przez Użytkowników jest NZOZ Ultramedic Centrum Medyczne Sp. z o.o., z siedzibą w Bielsku-Białej przy ul. Broniewskiego 48, 43-300 Bielsko-Biała, wpisana do rejestru przedsiębiorców prowadzonego przez SĄD REJONOWY W BIELSKU-BIAŁEJ, VIII WYDZIAŁ GOSPODARCZY KRAJOWEGO REJESTRU SĄDOWEGO, pod numerem 0000, NIP: , zwany dalej „Administratorem”.
        Przetwarzanie danych osobowych odbywa się na zasadach określonych w ustawie z dnia 10 maja 2018 r. o ochronie danych osobowych oraz w Rozporządzeniu Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych).
        Pozyskiwanie informacji o Użytkownikach Serwisu i ich zachowaniu odbywa się w następujący sposób: <br>
        (a) poprzez dane wprowadzone dobrowolnie przez Użytkowników w formularzach elektronicznych zamieszczonych w Serwisie (formularzach kontaktowych) lub formularzach aplikacji internetowej,<br>
        (b) poprzez zapisywanie w urządzeniach końcowych plików cookies (tzw. „ciasteczka”),<br>
        (c) poprzez gromadzenie logów serwera www przez operatora hostingowego.<br>
        Serwis zbiera wyłącznie informacje dobrowolnie podane przez Użytkowników, przy czym Serwis może zbierać ponadto informacje o parametrach połączenia (czas, adres IP, przeglądarka).<br>
  <br>
        <h4>§2</h4> <br>
  <br>
        Pliki cookies zwane także „ciasteczkami” są to pliki tekstowe zapisywane i przechowywane w pamięci urządzenia wykorzystywanego do przeglądania stron internetowych (np. komputer PC, notebook, tablet, palmtop, telefon komórkowy). Z plikami tymi, po ich zapisaniu, łączy się serwer albo serwery uzyskując do nich odpowiedni dostęp.
        Niniejsza strona internetowa www.cisc.com.pl oraz wszystkie jej podstrony oraz subdomeny korzystają z plików cookies wyłącznie w celach:<br>
        (a) tworzenia zbiorczych statystyk i analiz, które ułatwiają zrozumieć w jaki sposób używany jest Serwis oraz pomagają w jego rozwoju,<br>
        (b) optymalizacji stron internetowych pod kątem różnych urządzeń i przeglądarek,<br>
        (c) mierzenia skuteczności prowadzonych akcji i działań reklamowych, a także dopasowania treści i form reklam, wyświetlanych zarówno na stronie Serwisu jak i np. w sieci reklamowej Google;<br>

        W związku z powyższym część danych może być przekazywana za pośrednictwem narzędzi, z których korzystamy, do zewnętrznych partnerów. Partnerzy mogą natomiast połączyć te dane z innymi informacjami otrzymanymi od Użytkownika lub przesłanymi za pomocą narzędzi, z których sam korzysta. Poniżej znajduje się lista partnerów z którymi współpracujemy:<br>

        Google Analytics (administrator cookies: Google Inc z siedzibą w USA),<br>
        Google AdWords (administrator cookies: Google Ireland Limited z siedzibą w Irlandii),<br>

        Na stronie internetowej Serwisu wykorzystywane są dwa rodzaje plików cookies:(a) sesyjne – pozostają na urządzeniu Użytkownika aż do opuszczenia strony internetowej lub wyłączenia przeglądarki internetowej; (b) stałe – pozostają na urządzeniu Użytkownika przez określony czas albo do momentu ich ręcznego usunięcia przez użytkownika.
        Poprzez zmianę ustawień oprogramowania wykorzystywanego do przeglądania niniejszej strony internetowej cisc.com.pli jej podstron lub subdomen, istnieje możliwość określenia warunków przechowywania oraz warunków uzyskiwania dostępu do plików cookies wykorzystywanych przez tę stronę i jej podstrony, w szczególności możliwość całkowitego wyłączenia ich obsługi.
        W celu zmiany ustawień związanych z obsługą plików cookies należy odpowiednio skonfigurować oprogramowanie wykorzystywane do przeglądania niniejszej strony internetowej www.cisc.com.pl i jej podstron. Stosowne informacje w tym zakresie można uzyskać korzystając z pomocy technicznej dla takiego oprogramowania lub kontaktując się z jego dostawcą.
        Brak zmiany ustawień oprogramowania wykorzystywanego do przeglądania niniejszej strony internetowej cisc.com.pli jej podstron, stanowi w myśl art. 173 ust. 2 Ustawy prawo telekomunikacyjne wyrażenie zgody na korzystanie przez tę stronę i jej podstrony z plików cookies w celach wyżej określonych. <br>
<br>
       <h4>§3</h4> <br>
<br>
        Informacje o niektórych zachowaniach Użytkowników są zapisywane po stronie serwera. Dane te są wykorzystywane tylko i wyłącznie w celu administrowania serwisem oraz w celu zapewnienia wydajności hostingu.
        Przeglądane zasoby identyfikowane są poprzez adresy URL. Zapisowi mogą podlegać inne parametry takie jak czas nadejścia zapytania oraz wysłania odpowiedzi, napotkane błędy, informacja o adresie IP użytkownika oraz wykorzystywanej przez niego przeglądarce. Wszystkie zebrane dane nie są powiązane z konkretnymi osobami przeglądającymi Serwis, a ich wykorzystanie ma na celu tylko i wyłącznie efektywne administrowanie serwerem. <br>
<br>
        <h4>§4</h4> <br>
<br>
        Przetwarzanie danych osobowych Użytkowników Serwisu, o których mowa w § 1 ust. 4 powyżej, następuje wyłącznie w celu, w jakim niniejsze dane zostały wprowadzone przez Użytkownika Serwisu do Serwisu za uprzednią jego zgodą, w tym: <br>
        a. w celu sporządzenia wyceny usługi i wysłania oferty handlowej,
        b. w celu obsługi zgłoszenia, kontaktu lub udzielenia odpowiedzi na wiadomość przesłaną przez Użytkownika Serwisu;
        c. wypełniania przez Administratora obowiązków, które nakładają na niego przepisy prawa,
        d. wypełniania przez Administratora prawnie usprawiedliwionych celów (np. prowadzenia działań marketingowych), realizowanych przez Administratora albo odbiorców danych, które nie narusza praw i wolności osoby, które dane dotyczą.<br>
        Odbiorcami danych osobowych Użytkowników Serwisu są podmioty współpracujące z Administratorem w zakresie niezbędnym do realizacji celów wskazanych w § 4 ust. 1 powyżej oraz podmioty przetwarzające dane w naszym imieniu, tj. podmioty obsługujące systemy informatyczne, podmioty świadczące usługi doradcze, usługi księgowe i prawne.
        Na podstawie niniejszej Polityki Prywatności Administrator będzie gromadził część lub wszystkie z danych wymienionych niżej: <br>
        a) imię i nazwisko,<br>
        b) nazwę firmy,<br>
        c) numer telefonu kontaktowego,<br>
        d) adres e-mail,<br>
        e) adresy IP,<br>
        f) adres www strony Użytkownika,<br>
        g) informacje komplementarne, dotyczące prowadzonego przez Użytkownika biznesu.<br>
        Dostęp do danych osobowych mają wyłącznie osoby posiadające nadane przez Administratora upoważnienia.<br>
        Na podstawie odpowiednich przepisów prawa, dane osobowe zgromadzone przez Administratora mogą być udostępnione odpowiednim organom państwa.
        Zgromadzone dane Użytkowników będą przechowywane jedynie tak długo, jak jest to dozwolone ze względów prawnych i regulacyjnych (w tym np. księgowo-rachunkowych) oraz niezbędne ze względu na usprawiedliwioną realizację celów wskazanych § 4 ust. 1.
        Administrator kontaktować się będzie z Użytkownikiem za pośrednictwem poczty elektronicznej, telefonu, lub poprzez aplikację internetową (live chat).
        Administrator jest odpowiedzialny za użycie odpowiednich środków technicznych i organizacyjnych mających na celu zapewnienie bezpieczeństwa danych przekazanych przez Użytkowników Serwisu, w szczególności uniemożliwiających dostęp do nich osobom trzecim lub ich przetwarzanie z naruszeniem przepisów prawa, zapobiegających utracie danych, ich uszkodzeniu lub zniszczeniu.
        Użytkownikom Serwisu przysługuje prawo do wniesienie skargi do organu nadzorczego, gdy uznają, że przetwarzanie danych narusza przepisy ogólnego rozporządzenia o ochronie danych osobowych z 17 kwietnia 2016 r.
        Użytkownikom Serwisu przysługuje prawo dostępu do treści swoich danych osobowych oraz prawo ich sprostowana, ograniczenia przetwarzania danych, prawo do przenoszenia danych, usunięcia danych, prawo do wniesienia sprzeciwu oraz cofnięcia zgody w dowolnym momencie bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem.
        W razie wszelkich pytań, wątpliwości, zastrzeżeń lub reklamacji dotyczących polityki prywatności, a także w przypadku realizacji uprawnień opisanych powyżej prosimy o kontakt mailowy na adres: iodo@ultramedic.com.pl


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Ukryj</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Zaakceptuj i wejdź</button>
      </div>
    </div>
  </div>
</div>
<section id="banner" class="banner">
  <div class="bg-color">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="col-md-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="../../assets/img/logotyp.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#banner">Strona główna</a></li>
              <li class=""><a href="#service">O nas</a></li>
              <li class=""><a href="#doctor-team">Specjaliści</a></li>
              <li class=""><a href="#testimonial">Podstawa prawna</a></li>
              <li class=""><a href="#uslugi">Usługi</a></li>
              <li class=""><a href="#contact">Kontakt</a></li>
              <li class=""><a [routerLink]="'/login'">Logowanie</a></li>

            </ul>
          </div>
        </div>
      </div>
    </nav>.
    <div class="container">
      <div class="row">
        <div class="banner-info">
          <div class="banner-logo text-center">
            <img src="../../assets/img/DSC_0069.jpg" class="img-circle" width="30%" height="30%">
            <br/>
            <img src="../../assets/img/logotyp.png" class="img-responsive">
          </div>
        </div>
        <div class="banner-text text-center">cd
          <h1 class="white">Poradnia Medycyny Pracy</h1>
          <p>Witaj na stronie poradni medycyny pracy w Bielsku Białej <br>zapoznaj sie z naszą ofertą i dołącz do nas
            już dziś! </p>
          <a href="#contact" class="btn btn-appoint" >Umów się na wizytę</a>
        </div>
    
      </div>
    </div>
  </div>
</section>
