.modal-body {
  text-align: justify;
  color: #000000;
}
.modal-header {
  background-color: #32a74d;
  color: white;
  text-align: center;
}
h5 {
  font-size: 20px;
  color: white;
  margin: 20px;
}
h4 {
  text-align: center;
}

.btn-primary {
  background-color: #32a74d;
}
.top-info-cookie {
  background-color: green;
  color: white;
  width: 100%;
}
.wrapper {
  padding: 12px;
}
