<section id="testimonial" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Na podstawie jakich aktów prawnych działamy?</h2>
        <hr class="botm-line">
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="testi-details">
          <!-- Paragraph -->
          <p>Ustawa z dnia 27 czerwca 1997 roku o służbie medycyny pracy</p>
        </div>
        <div class="testi-info">
          <!-- User Image -->
          <a href="#"><img src="../../assets/img/paragraph-symbol.png" alt="" class="img-responsive"></a>
          <!-- User Name -->
          <h3>Akt<span>Prawny</span></h3> 
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="testi-details">
          <!-- Paragraph -->
          <p>Ustawa z dnia 15 kwietnia 2011 roku o działalności medycznej</p>
        </div>
        <div class="testi-info">
          <!-- User Image -->
          <a href="#"><img src="../../assets/img/paragraph-symbol.png" alt="" class="img-responsive"></a>
          <!-- User Name -->
          <h3>Akt<span>Prawny</span></h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="testi-details">
          <!-- Paragraph -->
          <p>Ustawa z dnia 26 czerwca 1974 roku Kodeks Pracy</p>
        </div>
        <div class="testi-info">
          <!-- User Image -->
          <a href="#"><img src="../../assets/img/paragraph-symbol.png" alt="" class="img-responsive"></a>
          <!-- User Name -->
          <h3>Akt<span>Prawny</span></h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="testi-details">
          <!-- Paragraph -->
          <p>Ustawa o kierujących pojazdami z dnia 5 stycznia 2011r.</p>
        </div>
        <div class="testi-info">
          <!-- User Image -->
          <a href="#"><img src="../../assets/img/paragraph-symbol.png" alt="" class="img-responsive"></a>
          <!-- User Name -->
          <h3>Akt<span>Prawny</span></h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="testi-details">
          <!-- Paragraph -->
          <p>Ustawa z dnia 6 września 2001r. o transporcie drogowym</p>
        </div>
        <div class="testi-info">
          <!-- User Image -->
          <a href="#"><img src="../../assets/img/paragraph-symbol.png" alt="" class="img-responsive"></a>
          <!-- User Name -->
          <h3>Akt<span>Prawny</span></h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="testi-details">
          <!-- Paragraph -->
          <p>Ustawa z dnia 21 maja 1999r. o broni i amunicji</p>
        </div>
        <div class="testi-info">
          <!-- User Image -->
          <a href="#"><img src="../../assets/img/paragraph-symbol.png" alt="" class="img-responsive"></a>
          <!-- User Name -->
          <h3>Akt<span>Prawny</span></h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="testi-details">
          <!-- Paragraph -->
          <p>Ustawa  z dnia 22 sierpnia 1997r. o ochronie osób i mienia</p>
        </div>
        <div class="testi-info">
          <!-- User Image -->
          <a href="#"><img src="../../assets/img/paragraph-symbol.png" alt="" class="img-responsive"></a>
          <!-- User Name -->
          <h3>Akt<span>Prawny</span></h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="testi-details">
          <!-- Paragraph -->
          <p>Ustawa  z dnia 26 stycznia 1982r. Karta Nauczyciela</p>
        </div>
        <div class="testi-info">
          <!-- User Image -->
          <a href="#"><img src="../../assets/img/paragraph-symbol.png" alt="" class="img-responsive"></a>
          <!-- User Name -->
          <h3>Akt<span>Prawny</span></h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="testi-details">
          <!-- Paragraph -->
          <p>Ustawa z dnia 6 listopada 2008r. o prawach pacjenta i Rzeczniku praw pacjenta</p>
        </div>
        <div class="testi-info">
          <!-- User Image -->
          <a href="#"><img src="../../assets/img/paragraph-symbol.png" alt="" class="img-responsive"></a>
          <!-- User Name -->
          <h3>Akt<span>Prawny</span></h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="testi-details">
          <!-- Paragraph -->
          <p>Rozporządzenie MZiOS z dnia 30 maja 1996r. w sprawie przeprowadzania badań lekarskich pracowników, zakresu profilaktycznej opieki zdrowotnej nad pracownikami oraz orzeczeń lekarskich wydawanych dla celów przewidzianych w Kodeksie pracy</p>
        </div>
        <div class="testi-info">
          <!-- User Image -->
          <a href="#"><img src="../../assets/img/paragraph-symbol.png" alt="" class="img-responsive"></a>
          <!-- User Name -->
          <h3>Akt<span>Wykonawczy</span></h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="testi-details">
          <!-- Paragraph -->
          <p>Rozporządzenie Ministra Zdrowia z dnia 8 lipca 2014r.w sprawie badań psychologicznych osób ubiegających się o uprawnienia do kierowania pojazdami, kierowców oraz osób wykonujących pracę na stanowisku kierowcy </p>
        </div>
        <div class="testi-info">
          <!-- User Image -->
          <a href="#"><img src="../../assets/img/paragraph-symbol.png" alt="" class="img-responsive"></a>
          <!-- User Name -->
          <h3>Akt<span>Wykonawczy</span></h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="testi-details">
          <!-- Paragraph -->
          <p>Rozporządzenie Ministra Zdrowia z dnia 29 lipca 2010r. w sprawie rodzajów dokumentacji medycznej służby medycyny pracy, sposobu jej prowadzenia i przechowywania oraz wzorów stosowanych dokumentów</p>
        </div>
        <div class="testi-info">
          <!-- User Image -->
          <a href="#"><img src="../../assets/img/paragraph-symbol.png" alt="" class="img-responsive"></a>
          <!-- User Name -->
          <h3>Akt<span>Wykonawczy</span></h3>
        </div>
      </div>
    
</div>
  </div>
</section>