<mat-sidenav-container class="example-container">
<mat-sidenav-content>
  <div class="jumbotron-body">
    <div class="col-md-12 col-sm-12">
      <h2 class="ser-title">Nowa rezerwacja </h2>
      <hr class="botm-line">

<form [formGroup]="bookingForm" (ngSubmit)="submitForm(bookingForm)">
  <div class="col-md-8 col-sm-8">
  <i class="fa fa-arrow-down"></i> <h3>KROK I - załącz plik ze skierowaniem</h3>
  <label class="input-group">
    <input type="file" id="file" (change)="handleFileInput($event.target.files)" accept="image/png, image/jpeg, application/pdf, image/jpg" required>
  </label>
</div>
  <div class="col-md-4 col-sm-4">
    <i class="fa fa-wpforms"></i>
    <i class="fa fa-paperclip"></i>
  </div>
  <div class="col-md-8 col-sm-8">
  <i class="fa fa-arrow-down"></i><h3>KROK II - wybierz rodzaj badania</h3>
  <h4>zgodnie z informacją zaznaczoną na skierowaniu</h4>
  <label class="input-group">
  <mat-select placeholder="Wybierz rodzaj badania" formControlName="typeid" aria-required="true">
    <mat-option *ngFor="let type of types" [value]="type.id" aria-required="true">
    {{type.description}}
    </mat-option>
    </mat-select>
  </label>
  </div>
  <div class="col-md-4 col-sm-4">
    <i class="fa fa-mouse-pointer"></i>
    <i class="fa fa-hand-pointer-o"></i>
  </div>
      <div class="col-md-8 col-sm-8">
  <i class="fa fa-arrow-down"></i><h3>KROK III - wybierz datę badania</h3>
  <h4>badania należy rejestrować z co najmniej 2 dniowym wyprzedzeniem</h4>
  <label class="input-group">
  <input matInput [min]="minDate" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Wybierz"
         formControlName="date" required>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  </label>
      </div>
  <div class="col-md-4 col-sm-4">
    <i class="fa fa-calendar-check-o"></i>
    <i class="fa fa-check"></i>
  </div>
    <div class="col-md-12 col-sm-12">
      <button mat-button type="submit" (click)="openDialog()">Zarezerwuj termin</button>
    </div>
</form>
</div>
    </div>
</mat-sidenav-content>
</mat-sidenav-container>


