<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <div class="jumbotron-body">
      <div class="col-md-4 col-sm-4">
        <h2 class="ser-title">Portal Pacjenta </h2>
        <hr class="botm-line">
        <p> Portal stworzony z myślą o pacjentach. Do tej pory można było zarejestrować się tylko telefonicznie,bądź wysyłając maila.
          Zdarzało się, że mail nie dotarł, a telefon był zajęty. Rejestracja na badania była utrudniona, zajmowała sporo czasu i nie zawsze była możliwa.
          Dlatego powstał pomysł na stworzenie łatwego w obsłudze i intuicyjnego portalu, dzięki któremu rejestracja na badanie zajmuje kilka minut. Bez stresu, nerwów i oczekiwania na połączenie...
          Dzięki aplikacji dokonasz rejestracji na wybrane badania dostępne w zakładce dodawania nowej rezerwacji.
        </p>
      </div>
      <div class="col-md-8 col-sm-8">
        <h2 class="ser-title"> Zarejestruj się już teraz! </h2>
        <hr class="botm-line">
        <div class="col-md-6 col-sm-6">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-user-md"></i><h4>Lekarz medycyny pracy - badania wstępne, okresowe, kontrolne</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-wheelchair"></i><h4>Zaświadczenia do pracy dla osób niepełnosprawnych</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-ambulance"></i> <h4>Badania kierowców pojazdów uprzywilejowanych</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-truck"></i><i class="fa fa-bus"></i><h4>Badania kierowców samochodów ciężarowych i autobusów</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-taxi"></i><i class="fa fa-car"></i><h4>Badania kierowców taxi i samochodów osobowych</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="service-info">
            <div class="icon">
              <i class="fa fa-eye"></i><h4>Badania z tytułu pogorszenia się wzroku</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
