
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form p-l-55 p-r-55 p-t-178">
					<span class="login100-form-title">
						REJESTRACJA NOWEGO KONTA W PORTALU PACJENTA
          </span>
          <form class="example-form">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Podaj imię" value="imię">
                </mat-form-field>
            <form class="example-form">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Podaj nazwisko" value="nazwisko">
                  </mat-form-field>
            <form class="example-form">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Podaj PESEL" value="pesel">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Podaj adres zamieszkania" value="adres zamieszkania">
                    </mat-form-field>
                <form class="example-form">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Podaj numer telefonu" value="telefon">
                      </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Wprowadź nazwę użytkownika" value="adres e-mail">
              </mat-form-field>
          <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Wprowadź hasło" value="hasło">
                </mat-form-field>
          <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Potwierdź hasło" value="potwierdź hasło">
                </mat-form-field>
                <button mat-button>Wyślij formularz</button>
         