<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form validate-form p-l-55 p-r-55 p-t-178">
					<span class="login100-form-title">
						REJESTRACJA NOWEGO KONTA W PORTALU PACJENTA
          </span>
          <form class="example-form" [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">
          <mat-form-field class="example-full-width">
                  <input matInput placeholder="Podaj imię" formControlName="firstname" required>
                </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Podaj nazwisko" formControlName="lastname" required>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Podaj PESEL" formControlName="pesel" required>
                  </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Podaj kod pocztowy" formControlName="postcode" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Podaj miejscowość" formControlName="city" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Podaj ulicę" formControlName="street">
              </mat-form-field>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Podaj nr budynku" formControlName="snumber" required>
            </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Podaj nr lokalu" formControlName="bnumber">
              </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Podaj numer telefonu" formControlName="phone" required>
                         <mat-icon matSuffix>phone</mat-icon>
                      </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Wprowadź adres e-mail" formControlName="email" required>
              </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Wprowadź hasło" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            <mat-checkbox class="example-full-width" style="size: 10px">Wyrażam zgodę na przetwarzanie moich danych osobowych zgodnie z
              ustawą o ochronie<br> danych osobowych w związku z rejestracją konta w Portalu Pacjenta.
      </mat-checkbox>
                <button mat-button type="submit">Zarejestruj się</button>
          </form>
        </div>
        
