<section id="cta-2" class="section-padding">
  <div class="container">
    <div class=" row">
      <div class="col-md-2"></div>
      <div class="text-right-md col-md-4 col-sm-4">
        <h2 class="section-title white lg-line">« Kilka powodów dla których <br> warto Nas wybrać »</h2>
      </div>
      <div class="col-md-4 col-sm-5">
       
        <p class="text-right text-primary"><i>— Zespół Medycyny Pracy</i></p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
<!--cta-->
<!--contact-->
<section id="contact" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Kontakt z nami!</h2>
        <hr class="botm-line">
      </div>
      <div class="col-md-4 col-sm-4">
        <h3>Dane adresowe</h3>
        <div class="space"></div>
        <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>ul. Broniewskiego 48 <br> 43-300 Bielsko-Biała</p>
        <div class="space"></div>
        <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>medycynapracy@ultramedic.com.pl</p>
        <div class="space"></div>
        <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+48 33 816 52 68</p>
      </div>
      <div class="col-md-8 col-sm-8 marb20">
        <div class="contact-info">
          <h3 class="cnt-ttl">Masz jakieś pytania lub wątpliwości napisz do nas.</h3>
          <div class="space"></div>
          <div id="sendmessage">Twoja wiadomość została wysłana. Dziękujemy za zainteresowanie!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-group">
              <input type="text" name="name" class="form-control br-radius-zero" id="name" placeholder="Imię" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control br-radius-zero" name="email" id="email" placeholder="Twój adres mailowy" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control br-radius-zero" name="subject" id="subject" placeholder="Temat wiadomości" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Tutaj wpisz treść wiadomości"></textarea>
              <div class="validation"></div>
            </div>

            <div class="form-action">
              <button type="submit" class="btn btn-form">Wyślij wiadomość</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<footer id="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 marb20">
          <div class="ftr-tle">
            <h4 class="white no-padding">Nasza placówka</h4>
          </div>
          <div class="info-sec">
            <p>Posiadamy doświadczenie w przeprowadzaniu badań profilaktycznych, do każdego pacjenta mamy indywidualne podejście.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 marb20">
          <div class="ftr-tle">
            <h4 class="white no-padding">Szybkie linki</h4>
          </div>
          <div class="info-sec">
            <ul class="quick-info">
              <li><a href="index.html"><i class="fa fa-circle"></i>Strona główna CM</a></li>
              <li><a href="#service"><i class="fa fa-circle"></i>Usługi</a></li>
              <li><a href="#contact"><i class="fa fa-circle"></i>Logowanie</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 marb20">
          <div class="ftr-tle">
            <h4 class="white no-padding">Dołącz do nas!</h4>
          </div>
          <div class="info-sec">
            <ul class="social-icon">
              <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
              <li class="bgred"><i class="fa fa-google-plus"></i></li>
              <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
              <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-line">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          © Ultramedic
          <div class="credits">

            Designed by <a href="https://bootstrapmade.com/">K.D.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>