<section id="cta-2" class="section-padding">
  <div class="container">
    <div class=" row">
      <div class="col-md-2"></div>
      <div class="text-right-md col-md-4 col-sm-4">
        <h2 class="section-title white lg-line">« Kilka powodów dla których <br> warto Nas wybrać »</h2>
      </div>
      <div class="col-md-4 col-sm-5">
       
        <p class="text-right text-primary"><i>Jesteśmy dla Was, każdego dnia staramy się sprostać Państwa wymaganiom i
          zapewnić najlepsze standardy obsługi <br>— Zespół Medycyny Pracy</i></p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
<!--cta-->
<!--contact-->
<section id="contact" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Kontakt z nami!</h2>
        <hr class="botm-line">
      </div>
      <div class="col-md-4 col-sm-4">
        <h3>Dane adresowe</h3>
        <div class="space"></div>
        <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>ul. Broniewskiego 48 <br> 43-300 Bielsko-Biała</p>
        <div class="space"></div>
        <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>medycynapracy@ultramedic.com.pl</p>
        <div class="space"></div>
        <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+48 33 816 52 68</p>
      </div>
      <div class="col-md-8 col-sm-8 col-xs-8 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d643.601221103194!2d19.050264!3d49.816055!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfa143e089d6deaea!2sULTRAMEDIC+-+Centrum+Medyczne!5e0!3m2!1spl!2spl!4v1446104899190" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe><br>
      </div>
    </div>
  </div>
</section>
<footer id="footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 marb20">
          <div class="ftr-tle">
            <h4 class="white no-padding">Nasza placówka</h4>
          </div>
          <div class="info-sec">
            <p>Posiadamy doświadczenie w przeprowadzaniu badań profilaktycznych, do każdego pacjenta mamy indywidualne podejście.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 marb20">
          <div class="ftr-tle">
            <h4 class="white no-padding">Szybkie linki</h4>
          </div>
          <div class="info-sec">
            <ul class="quick-info">
              <li><a href="index.html"><i class="fa fa-circle"></i>Strona główna CM</a></li>
              <li><a href="#service"><i class="fa fa-circle"></i>Usługi</a></li>
              <li><a href="#contact"><i class="fa fa-circle"></i>Logowanie</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 marb20">
          <div class="ftr-tle">
            <h4 class="white no-padding">Dołącz do nas!</h4>
          </div>
          <div class="info-sec">
            <ul class="social-icon">
              <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
              <li class="bgred"><i class="fa fa-google-plus"></i></li>
              <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
              <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-line">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          © Ultramedic
          <div class="credits">

            Designed by <a href="https://bootstrapmade.com/">K.D.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
