<section id="doctor-team" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Poznaj naszych lekarzy!</h2>
        <hr class="botm-line">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="../assets/img/doktor%20kob.png" alt="..." class="team-img">
          <div class="caption">
            <h3>Maria Gwinner</h3>
            <p>lek. chorób wewnętrznych, specjalista medycyny pracy uprawniony do przeprowadzania  badań kierowców, osób ubiegających się lub posiadających pozwolenie na broń, kwalifikowanych pracowników ochrony, osób narażonych na promieniowanie jonizujące</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="../assets/img/doktor%20kob.png" alt="..." class="team-img">
          <div class="caption">
            <h3>Mirosława Paszek-Ruczka</h3>
            <p>lek. chorób wewnętrznych, lekarz uprawniony do przeprowadzania badań profilaktycznych oraz badań kierowców</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="../assets/img/doktor%20med.png" alt="..." class="team-img">
          <div class="caption">
            <h3>Jerzy Michał Mojżesz</h3>
            <p>lek. chorób wewnętrznych, lekarz uprawniony do przeprowadzania badań profilaktycznych oraz badań kierowców, osób ubiegających się lub posiadających pozwolenie na broń, kwalifikowanych pracowników ochrony, osób narażonych na promieniowanie jonizujące</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="../assets/img/doktor%20kob.png" alt="..." class="team-img">
          <div class="caption">
            <h3>Aleksandra Kubiczek</h3>
            <p>lek. chorób wewnętrznych, lekarz uprawniony do przeprowadzania badań profilaktycznych oraz badań kierowców</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Poznaj naszych lekarzy!</h2>
        <hr class="botm-line">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="../assets/img/doktor%20kob.png" alt="..." class="team-img">
          <div class="caption">
            <h3>Kamila Żyrek</h3>
            <p>specjalista chorób oczu</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="../assets/img/doktor%20med.png" alt="..." class="team-img">
          <div class="caption">
            <h3>Janusz Damek</h3>
            <p>specjalista chorób oczu</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="../assets/img/doktor%20kob.png" alt="..." class="team-img">
          <div class="caption">
            <h3>Hanna Laskowska</h3>
            <p>specjalista chorób oczu</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="../assets/img/doktor%20kob.png" alt="..." class="team-img">
          <div class="caption">
            <h3>Anna Sobol</h3>
            <p>specjalista chorób oczu</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Poznaj naszych lekarzy!</h2>
        <hr class="botm-line">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="../assets/img/doktor%20kob.png" alt="..." class="team-img">
          <div class="caption">
            <h3>Barbara Sawaryn</h3>
            <p>specjalista chorób oczu</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="../assets/img/doktor%20kob.png" alt="..." class="team-img">
          <div class="caption">
            <h3>Alina Dubiel</h3>
            <p>specjalista chorób oczu</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="../assets/img/doktor%20med.png" alt="..." class="team-img">
          <div class="caption">
            <h3>Witold Szcześniak</h3>
            <p>specjalista otolaryngolog</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="../assets/img/doktor%20kob.png" alt="..." class="team-img">
          <div class="caption">
            <h3>Jolanta Lichwa</h3>
            <p>specjalista neurolog</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">Poznaj naszych lekarzy!</h2>
        <hr class="botm-line">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="../assets/img/doktor%20kob.png" alt="..." class="team-img">
          <div class="caption">
            <h3>Małgorzata Sucheta</h3>
            <p>specjalista neurolog</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <img src="../assets/img/doktor%20kob.png" alt="..." class="team-img">
          <div class="caption">
            <h3>Agnieszka Knap - Zagóra</h3>
            <p>psycholog</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- </div> -->
 <!-- </div> -->
</section>