.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

p {
  font-family: "Arial Narrow";
  font-size: 20px;
  padding: 10px;
  color: #00a8b1;
}
button {
  color: white;
  background-color: #00a8b1;
  margin: 10px;
}
h2 {
  color: #00a8b1;
  text-align: center;
  margin: 40px;}
