<h2>Zarządzaj swoimi danymi</h2>

<p> Dane podstawowe</p>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Imię" value="imię">
  </mat-form-field>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nazwisko" value="nazwisko">
    </mat-form-field>

    <p> Dane kontaktowe</p>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Adres zamieszkania - ulica" value="ulica">
      </mat-form-field>
      <mat-form-field class="example-form">
        <input matInput placeholder="Adres zamieszkania - numer budynku" value="nr budynku">
        </mat-form-field>
        <mat-form-field class="example-form">
          <input matInput placeholder="Adres zamieszkania - numer domu" value="nr domu">
          </mat-form-field>
          <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Telefon" value="telefon">
        </mat-form-field>
            <button mat-button>Zapisz dane</button>
            <button mat-button> Anuluj</button>
